<div class="col-xs-12 <%= 'hidden' if index != 0 %>" id="question_<%= question.id %>_<%= question.exam_id %>">
  <div class="body">
    <%= progress_bar ((index.to_f+1) / @questions.length).round(1), alternative: 'info', striped: true  %>
    <label style="margin-left: 50%;"><%=index+1%>/<%=@questions.length%></label>
    <br>
    <h3>Q. <%= question.question %></h3>
    <br/>
    <div class="<%= question.description.present? ? 'col-xs-6' : 'col-xs-12' %>">
      <p>
        <%= question.description %>
      </p>
    </div>

    <div class="<%= question.description.present? ? 'col-xs-6' : 'col-xs-12' %>">
      <%= form_tag save_ans_path(question), remote: true do %>
        <% if question.question_type == 'Choices' %>
          <% options = eval(question.options) %>
          <% options.each do |k, v| %>
            <div class="field">
              <label for="answer_<%= k %>">
                <%= radio_button_tag :answer, k, false,style: "left: 15px;opacity: 10" %>  
                <span style="margin-left: 20px;"><%= v %></span> 
              </label>
            </div>
          <% end %>
        <% else %>
          <%= text_area_tag :answer, "", class: "form-control" %>
        <% end %>
        <div class="mt20">
          <%= submit_tag :Save, class: "btn btn-xs btn-primary" %>
          <%= submit_tag 'Save & Next', class: "btn btn-xs btn-success" %>
        </div>
      <% end %>
    </div>
  </div>  
</div>