<%= form_for team do |f| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>
      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-sm-6 col-xs-12">
    <div class="form-group form-float">
      <div class="form-line">
        <%= f.text_field :name, class: "form-control" %>
        <%= f.label :name, class: "form-label" %>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-xs-12">
    <div class="actions">
      <%= f.submit "Add Team", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
