<%= form_for(@file_upload) do |f| %>
  <div class="card">
    <div class="panel panel-primary">
      <div class="panel-heading" style="height: 40px;">
        <div class="col-xs-12">
          <div class="col-xs-9">
            <h3 class="panel-title">
                Upload File
            </h3>
          </div>  
        </div>  
      </div>
      <div class="panel-body">
        <div class="col-xs-12">
          <label class="form-label">Title</label>
          <%= f.text_field :title,  class: "form-control" %>
          <br>
        </div>
        <div class="col-xs-12">
          <label class="form-label">Description</label>
          <%= f.text_area :description,  class: "form-control" %>
          <br>
        </div>
        <div class="col-xs-12">
          <label class="form-label">Upload File</label>
          <%= f.file_field :file,  class: "form-control" %>
          <br>
        </div>

        <div class="col-sm-4 col-xs-4">
		    <div class="actions">
		      <%= f.submit "Upload", class: "btn btn-primary" %>
		    </div>
		</div>
    </div>
  </div>        
<% end %>