<%= form_for(signature, url:  new_employee_signature_path, html: {remote: true}) do |f| %>
  <% if signature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(signature.errors.count, "error") %> prohibited this signature from being saved:</h2>

      <ul>
      <% signature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm-6 col-xs-12">
    <div class="form-group form-float">
      <%= f.text_field :sign, as: :hidden, class: 'signature_pad_input' %>
      <div class="signature_pad text-center">
        <div class="signature_pad_body">
          <canvas></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="actions">
      <%= f.submit "Add Signature", class: "btn btn-primary waves-effect signature_pad_save" %>
    </div>
  </div>

<% end %>
