<div class="col-sm-12">
  <div class="col-sm-10">
    <button class="btn btn-success" onclick="secureReviewPassword()">Show Reviews</button>
  </div>  
  <div class="col-sm-2">
    <button class="btn btn-info" onclick="claculateAverage()">Calculate Average</button>
  </div>  
</div>  
<div id="<%= 'secure-reviews' if params[:page].blank?%>">
  <div class="body table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Total Reviews</th>
          <th>Average Point</th>
          <th>Actions</th>
        </tr>
      </thead>
        <%@perf_review_employees.each do |perf_review_employee|%>
          <tr>
            <td><%=perf_review_employee.name%></td>
            <td><%=PerfReview.where(employee_id: perf_review_employee.id).count%></td>
            <td><%=PerfReview.where(employee_id: perf_review_employee.id).average(:avg).round(3) rescue 0.0%></td>
            <td>
              <a href='/perf_reviews/<%=perf_review_employee.id%>/employee'>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>&nbsp;&nbsp;&nbsp;
              <a href='/perf_reviews/<%=perf_review_employee.id%>/print'>
                <i class="fa fa-print" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        <%end%>
    </table>
    <%= will_paginate @perf_review_employees %>
  </div>
</div>
<%=render 'secure_password'%>
<%=render 'average_calculator'%>
<script>
  $(".review-expired").click(function(){
    alert("Review due date is exceeded!")
  })
</script>  