<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>
          Pending  Reviews
        </h2>
        <% if current_employee.any_reviews_pending? %>
        <div class="body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Created by</th>
                <th>Reviewee</th>
                <th>Reviewer</th>
                <th>Due Date</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              <% current_employee.reviews_pending.each do |review_pending| %>
                <tr>
                  <td><%= review_pending.employee.email %></td>
                  <td><%= review_pending.perf_review_request.reviewee.email rescue ''%></td>
                  <td><%= review_pending.perf_review_request.reviewers.map{|reviewer| reviewer.employee.name}.join(',') rescue ''%></td>
                  <td><%= review_pending.perf_review_request.due_date.strftime("%d %b,%Y") rescue ''%></td>
                  <td>
                    <%if review_pending.perf_review_request.try(:due_date).present? && review_pending.perf_review_request.due_date >= Date.today%>
                      <%= link_to give_review_path(review_pending) do %>
                        <i class="fa fa-commenting" aria-hidden="true" title="Review"></i>
                      <% end %>
                    <%else%>
                      <a href="javascript:void(0)" class="review-expired">
                        <i class="fa fa-commenting" aria-hidden="true" title="Review"></i>
                      </a>
                    <%end%>  
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
          You have some review pending for employees. Kindly review them in below given form.
          Reviews pending for <b> <i> <%= current_employee.reviews_pending_for.to_sentence %> </b> </i>
        <% else %>
          No request pending for reviewing.
        <% end %>
      </div>
      <div class="header">
        <h2>
          <% if current_employee.hr? %>
            All employee reviews
          <% else %>
            Your sent Reviewees
          <% end %>
        </h2>
      <div class="body table-responsive">
          <%= render 'admin_reviews' %>
      </div>
      </div>      
    </div>
    <div class="col-md-1 column">
    </div>
  </div>
</div>