<%= form_tag create_perf_reviews_path(@reviewer) do %>
  <div class="card">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
              General Informations
          </h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-6">
            <div class="form-group form-float">
              <div class="form-line">
                <%=select_tag "perf_review[employee_id]", options_for_select([["Select Reviewee",nil]]+current_employee.peding_reviews_employee,"Select Reviewee"), class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group form-float">
              <div class="form-line">
                <label class="form-label">Name</label>
                <%= text_field_tag "perf_review[name]", "", class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group form-float">
              <div class="form-line">
                <%= text_field_tag "perf_review[time_in_position]", "", class: "form-control" %>
                <label class="form-label">Time in Position</label>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group form-float">
              <div class="form-line">
                <%= text_field_tag "perf_review[job_title]", "", class: "form-control" %>
                <label class="form-label">Job Title</label>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group form-float">
              <div class="form-line">
                <%= text_field_tag "perf_review[last_appraisal]", "", class: "form-control" %>
                <label class="form-label">Last Appraisal</label>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group form-float">
              <div class="form-line">
                <%=select_tag "perf_review[team_leader]", options_for_select([["Select Teamleader",nil]]+Employee.team_leaders.collect {|r| [ r.name, r.id ] },"Select team lead"), class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group form-float">
              <div class="form-line">
                <%= text_field_tag "perf_review[first_prepared]", "",  class: "form-control datepicker",placeholder: "Date First Prepared" %>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group form-float">
              <div class="form-line">
                <%= text_field_tag  "perf_review[hiring_date]", "", class: "form-control datepicker",placeholder: "Hiring Date" %>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group form-float">
              <div class="form-line">
                <%= text_field_tag "perf_review[prepared_by]", "", class: "form-control" %>
                <label class="form-label">Prepared by</label>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group form-float">
              <div class="form-line">
                <%= text_area_tag "perf_review[comment]", "", class: "form-control" %>
                <label class="form-label">Comment</label>
              </div>
            </div>
          </div>
          <%=hidden_field_tag "perf_review[reviewer_id]","#{current_employee.id}"%>
          <%=hidden_field_tag "perf_review[request_id]","#{params[:reviewer_id]}"%>
        </div>
      </div>
   </div>
  <% PerfReviewCatg.all.each do |category| %>
    <div class="card">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
                <%= category.name %>
            </h3>
          </div>
          <div class="panel-body">
            <% category.questions.each do |question| %>
              <div class="col-xs-12">
                Q. <%= question.name %>
              </div>
              <div class="col-xs-12">
                <div class="form-group form-float">
                  <%= radio_button_tag "answers[answer_#{question.id}]", 1, required: true %> <label for='answers_answer_<%= question.id %>_1'> 1 </label>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group form-float">
                  <%= radio_button_tag "answers[answer_#{question.id}]", 2 %> <label for='answers_answer_<%= question.id %>_2'> 2 </label>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group form-float">
                  <%= radio_button_tag "answers[answer_#{question.id}]", 3 %> <label for="answers_answer_<%= question.id %>_3"> 3 </label>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group form-float">
                  <%= radio_button_tag "answers[answer_#{question.id}]", 4 %> <label for="answers_answer_<%= question.id %>_4"> 4 </label>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group form-float">
                  <%= radio_button_tag "answers[answer_#{question.id}]", 5 %> <label for="answers_answer_<%= question.id %>_5"> 5 </label>
                </div>
              </div>
            <% end %>
          </div>
          <div class="panel-footer">
            Average points:
          </div>
        </div>
     </div>
    <% end %>
    <div class="col-xs-12">
      <div class="actions">
        <%= submit_tag "Create", class: "btn btn-primary waves-effect" %>
      </div>
    </div>
  <% end %>