<%= form_tag  perf_review_path(@perf_review), method: :patch do %>
  <div class="card">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
              General Informations
          </h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12">
            <label class="form-label">Employee Reviewed</label>
            <%= text_field_tag "", @perf_review.employee.email, class: "form-control" %>

          </div>
          <div class="col-xs-12">
            <label class="form-label">Name</label>
            <%= text_field_tag "perf_review[name]", @perf_review.name, class: "form-control" %>
          </div>
          <div class="col-xs-12">
            <label class="form-label">Time in Position</label>
            <%= text_field_tag "perf_review[time_in_position]", @perf_review.time_in_position, class: "form-control" %>
          </div>
          <div class="col-xs-12">
            <label class="form-label">Job Title</label>
            <%= text_field_tag "perf_review[job_title]", @perf_review.job_title, class: "form-control" %>
          </div>
          <div class="col-xs-12">
            <label class="form-label">Last Appraisal</label>
            <%= text_field_tag "perf_review[last_appraisal]", @perf_review.last_appraisal, class: "form-control" %>
          </div>
          <div class="col-xs-12">
            <label class="form-label">Team Leader</label>
            <%= text_field_tag "perf_review[team_leader]", @perf_review.team_leader, class: "form-control" %>
          </div>
          <div class="col-xs-12">
            <label class="form-label">Date First Prepared</label>
            <%= text_field_tag "perf_review[first_prepared]", @perf_review.first_prepared,  class: "form-control" %>
          </div>
          <div class="col-xs-12">
            <label class="form-label">Hiring Date</label>
            <%= text_field_tag  "perf_review[hiring_date]", @perf_review.hiring_date, class: "form-control" %>
          </div>
          <div class="col-xs-12">
            <label class="form-label">Prepared by</label>
            <%= text_field_tag "perf_review[prepared_by]", @perf_review.prepared_by, class: "form-control" %>
          </div>
          <div class="col-xs-12">
            <label class="form-label">Comment</label>
            <%= text_field_tag "perf_review[prepared_by]", @perf_review.comment, class: "form-control" %>
          </div>
        </div>
      </div>
   </div>
  <%perf_review_catg_comments = JSON.parse(@perf_review.catg_reviews) if @perf_review.catg_reviews.present? rescue [@perf_review.catg_reviews]
    perf_review_catg_suggestions = JSON.parse(@perf_review.catg_suggestions) if @perf_review.catg_suggestions.present? rescue [@perf_review.catg_suggestions]
  %>
  <% PerfReviewCatg.all.each_with_index do |category,index| %>
    <div class="card">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
                <%= category.name %>
            </h3>
          </div>
          <div class="panel-body">
            <% category.questions.each do |question| %>
              <div class="col-xs-12">
                Q. <%= question.name %>
              </div>
              <div class="col-xs-3">
                <div class="form-group form-float">
                  <% if question.answer(@perf_review.id) == "1" %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 1, true %> <label for='answers_answer_<%= question.id %>_1'> 1 </label>
                  <% else %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 1 %> <label for='answers_answer_<%= question.id %>_1'> 1 </label>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group form-float">
                  <% if question.answer(@perf_review.id) == "2" %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 2,  true %> <label for='answers_answer_<%= question.id %>_2'> 2 </label>
                  <% else %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 2 %> <label for='answers_answer_<%= question.id %>_2'> 2 </label>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group form-float">
                  <% if question.answer(@perf_review.id) == "3" %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 3, true %> <label for="answers_answer_<%= question.id %>_3"> 3 </label>
                  <% else %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 3 %> <label for="answers_answer_<%= question.id %>_3"> 3 </label>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group form-float">
                  <% if question.answer(@perf_review.id) == "4" %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 4, true %> <label for="answers_answer_<%= question.id %>_4"> 4 </label>
                  <% else %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 4 %> <label for="answers_answer_<%= question.id %>_4"> 4 </label>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group form-float">
                  <% if question.answer(@perf_review.id) == "5" %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 5, true %> <label for="answers_answer_<%= question.id %>_5"> 5 </label>
                  <% else %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 5 %> <label for="answers_answer_<%= question.id %>_5"> 5 </label>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group form-float">
                  <% if question.answer(@perf_review.id) == "6" %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 6, true %> <label for="answers_answer_<%= question.id %>_6"> 6 </label>
                  <% else %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 6 %> <label for="answers_answer_<%= question.id %>_6"> 6 </label>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group form-float">
                  <% if question.answer(@perf_review.id) == "7" %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 7, true %> <label for="answers_answer_<%= question.id %>_7"> 7 </label>
                  <% else %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 7 %> <label for="answers_answer_<%= question.id %>_7"> 7 </label>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group form-float">
                  <% if question.answer(@perf_review.id) == "8" %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 8, true %> <label for="answers_answer_<%= question.id %>_8"> 8 </label>
                  <% else %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 8 %> <label for="answers_answer_<%= question.id %>_8"> 8 </label>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group form-float">
                  <% if question.answer(@perf_review.id) == "9" %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 9, true %> <label for="answers_answer_<%= question.id %>_9"> 9 </label>
                  <% else %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 9 %> <label for="answers_answer_<%= question.id %>_9"> 9 </label>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group form-float">
                  <% if question.answer(@perf_review.id) == "10" %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 10, true %> <label for="answers_answer_<%= question.id %>_10"> 10 </label>
                  <% else %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 10 %> <label for="answers_answer_<%= question.id %>_10"> 10 </label>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group form-float">
                  <% if question.answer(@perf_review.id) == "0" %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 0, true %> <label for="answers_answer_<%= question.id %>_0"> N/A </label>
                  <% else %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 0 %> <label for="answers_answer_<%= question.id %>_0"> N/A </label>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group form-float">
                  <% if question.answer(@perf_review.id) == "0.0" %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 0.0, true %> <label for="answers_answer_<%= question.id %>_0.0"> Unknown </label>
                  <% else %>
                    <%= radio_button_tag "answers[answer_#{question.id}]", 0.0 %> <label for="answers_answer_<%= question.id %>_0.0"> Unknown </label>
                  <% end %>
                </div>
              </div>
            <% end %>
            <div class="col-xs-12">
            <div class="form-group form-float">
              <div class="form-line">
                <%= text_area_tag "perf_review[catg_reviews]", "#{perf_review_catg_comments[index] rescue nil}", class: "form-control" %>
                <label class="form-label">Category Comment</label>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group form-float">
              <div class="form-line">
                <%= text_area_tag "perf_review[catg_suggestions]", "#{perf_review_catg_suggestions[index] rescue nil}", class: "form-control" %>
                <label class="form-label">Category Comment</label>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            Average points: <%= @perf_review.calculate_avg_point[category.id] %>
          </div>
        </div>
     </div>
    <% end %>
<% end %>