<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>Attandance Logs</h2>
      </div>
      <div class="body">
        <div class="body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Date</th>
                <th>Hours : Minutes : Second </th>
                <th>Remark</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><%=Date.today-1%></td>
                <td><%= @hours.floor%>:<%=@minutes.floor%>:<%=@seconds.floor%></td>
                <td><%= @remark %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
