<table style="width:60%;border: 1px;">
	<tr><td><b>Prepared By</b></td><td><%=@perf_review_request.employee.name%></td></tr>
	<tr><td><b>Due Date</b></td><td><%=@perf_review_request.due_date%></td></tr>
	<tr><td><b>Employee Name</b></td><td><%=@employee.name%></td></tr>
	<tr><td><b>Time in Position</b></td><td><%=@perf_review_request.time_in_position%></td></tr>
	<tr><td><b>First Prepared</b></td><td><%=@perf_review_request.first_prepared%></td></tr>
	<tr><td><b>Hiring Date</b></td><td><%=@perf_review_request.hiring_date%></td></tr>
	<tr><td><b>Last Appraisal</b></td><td><%=@perf_review_request.last_appraisal%></td></tr>
</table>