<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>
          Leave Requests
          
        </h2>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-6 col-sm-offset-6">
          <div class="col-sm-6"><label>Search Status: </label></div>
          <div class="col-sm-6">
             <%=select_tag :leave_request_search, options_for_select(LeaveRequest::LEAVE_REQUEST_FILTER,params[:status]), class: "form-control"%> 
          </div>
        </div>
      </div>
      <% if @leave_requests.present? %>
      <div class="body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>From</th>
                <th>To</th>
                <th>Employee Name</th>
                <th>Status</th>
                <th>Requested On</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @leave_requests.each do |leave_request| %>
                <tr>
                  <td><%= leave_request.from.strftime("%d %b,%Y") %></td>
                  <td><%= leave_request.to.strftime("%d %b,%Y") %></td>
                  <td><%= leave_request.employee.name %></td>
                  <td><%= leave_request.status.camelize %></td>
                  <td><%= leave_request.created_at.strftime("%d %b,%Y") %></td>
                  <% if current_employee.user_role == 'employee'%>
                    <td>
                      <%= link_to leave_request_path(leave_request) do%>
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                      <%end%>
                      <%if leave_request.cover_id == current_employee.id%>
                        <%if LeaveRequest.is_approve_disable(leave_request.status,current_employee)%>
                          <button name="color" type="button" class="btn btn-success" value="btn-success" onclick="approvedLeaveRequest('<%=current_employee.id%>','<%=current_employee.role.role%>','<%=leave_request.id%>')" disabled="true">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Approve
                          </button>
                        <%else%>
                          <button name="color" type="button" class="btn btn-success" value="btn-success" onclick="approvedLeaveRequest('<%=current_employee.id%>','<%=current_employee.role.role%>','<%=leave_request.id%>')">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Approve
                          </button>
                        <%end%>
                         <%if LeaveRequest.is_reject_disable(leave_request.status,current_employee)%>  
                          <button name="color" type="button" class="btn btn-danger" value="btn-danger" onclick="showCloseReason('<%=current_employee.id%>','<%=current_employee.role.role%>','<%=leave_request.id%>','reject')" disabled="true">
                            <i class="fa fa-times" aria-hidden="true" ></i>
                            Reject
                          </button>
                         <%else%>
                          <button name="color" type="button" class="btn btn-danger" value="btn-danger" onclick="showCloseReason('<%=current_employee.id%>','<%=current_employee.role.role%>','<%=leave_request.id%>','reject')">
                            <i class="fa fa-times" aria-hidden="true" ></i>
                            Reject
                          </button>
                        <%end%>  
                      <%end%> 
                    </td>
                    <%else%> 
                    <td> 
                      <%= link_to leave_request_path(leave_request) do%>
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                      <%end%>
                      &nbsp;&nbsp;&nbsp;
                      <%if (current_employee.user_role == "team_leader" && leave_request.status == "initial") || (current_employee.user_role == "team_manager" && leave_request.status == "lead_approved") || current_employee.user_role == "hr" || current_employee.user_role == "president"%>
                        <%if current_employee.user_role == "hr" || current_employee.user_role == "president"%>
                          <%= link_to edit_leave_request_path(leave_request) do%>
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          <%end%>
                          <%= link_to leave_request, method: :delete, data: { confirm: 'Are you sure?' } do%>
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          <%end%>
                        <%end%>
                        <%if LeaveRequest.is_approve_disable(leave_request.status,current_employee)%>
                          <button name="color" type="button" class="btn btn-success" value="btn-success" onclick="approvedLeaveRequest('<%=current_employee.id%>','<%=current_employee.role.role%>','<%=leave_request.id%>')" disabled="true">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Approve
                          </button>
                        <%else%>
                          <button name="color" type="button" class="btn btn-success" value="btn-success" onclick="approvedLeaveRequest('<%=current_employee.id%>','<%=current_employee.role.role%>','<%=leave_request.id%>')">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Approve
                          </button>
                        <%end%>
                         <%if LeaveRequest.is_reject_disable(leave_request.status,current_employee)%>  
                          <button name="color" type="button" class="btn btn-danger" value="btn-danger" onclick="showCloseReason('<%=current_employee.id%>','<%=current_employee.role.role%>','<%=leave_request.id%>','reject')" disabled="true">
                            <i class="fa fa-times" aria-hidden="true" ></i>
                            Reject
                          </button>
                         <%else%>
                          <button name="color" type="button" class="btn btn-danger" value="btn-danger" onclick="showCloseReason('<%=current_employee.id%>','<%=current_employee.role.role%>','<%=leave_request.id%>','reject')">
                            <i class="fa fa-times" aria-hidden="true" ></i>
                            Reject
                          </button>
                        <%end%>  
                        <button name="color" type="button" class="btn btn-danger" onclick="showCloseReason('<%=current_employee.id%>','<%=current_employee.role.role%>','<%=leave_request.id%>','cancel')">
                          <i class="fa fa-ban" aria-hidden="true"></i>
                          Cancel
                        </button>
                         <%if current_employee.user_role == "hr"%>
                          <button name="color" type="button" class="btn btn-danger" onclick="showForwardRequest('<%=current_employee.id%>','<%=current_employee.role.role%>','<%=leave_request.id%>')" style="margin-left: 60px;margin-top: 5px;">
                            <i class="fa fa-forward" aria-hidden="true"></i>
                          Forward
                          </button>
                         <%end%>
                      <%end%> 
                    </td>        
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%=render 'request_close_reason'%>
          <%=render 'forward_request'%>
        </div>
      <% else %>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;You don't have any leave requests</p>
      <% end %>
      <br/>
    </div>
  </div>
</div>

<script>
  $("#cancelReasonComment").val("");
  $("#leave_request_search").change(function(){
    value = $("#leave_request_search").val();
    location.href = '?status='+value
  });
</script>