<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header head-action">
        <div class="col-sm-12">
          <div class="col-sm-8">
            <h2>
              Notifications
            </h2>
          </div>
          <%if current_employee.user_role == 'hr' || current_employee.user_role == 'president'%>
            <div class="col-sm-4">
              <div class="actions">
                <a href = '/notifications/new'>
                  <%=submit_tag "Create Notification", class: "btn bg-blue waves-button-input"%>
                </a>  
              </div>
            </div>
          <%end%>  
        </div>
      </div>
      <% if @notifications.present? %>
      <div class="body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Subject</th>
                <th>Sent On</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @notifications.each do |notification| %>
                <tr>
                  <td><%= notification.title %></td>
                  <td><%= notification.description %></td>
                  <td><%= notification.notification_type.camelize %></td>
                  <td><%= notification.created_at.strftime("%d %b,%Y")%></td>
                  <td><%= link_to notification_path(notification) do%>
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                      <%end%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        You don't have any exam
      <% end %>
      <br/>
    </div>
  </div>
</div>
