<div class="row clearfix">
  <div class="col-xs-12">
    <div class="card">
      <div class="header">
        <h2>Project Team</h2>
      </div>
      <div class="body">
        <div class="row clearfix">
          <div class="col-xs-12">
            <div class="table-responsive">
              <% if @project_teams.present? %>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>project</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @project_teams.each do |team| %>
                      <tr>
                        <td><%= team.name %></td>
                        <td>
                          <ol>
                            <% team.project_title.each do |name| %>
                              <li><%= name %></li>
                            <% end %>
                          </ol>
                        </td>
                          <td><%= link_to 'Show', project_team_path(team) %></td>
                          <td><%= link_to 'Edit', edit_project_team_path(team
                          ) %></td>
                          <td><%#= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% else %>
                You don't have any exam 
              <% end %>
              <br>
            </div>
          </div>
        </div>
        <%= link_to 'New Exam', new_exam_path if current_employee.user_role == 'teacher' %>
      </div>
    </div>
  </div>
</div>