<%= form_for(leave) do |f| %>
  <% if leave.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leave.errors.count, "error") %> prohibited this leave from being saved:</h2>

      <ul>
      <% leave.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :subject %>
    <%= f.text_field :subject, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :body %>
    <%= f.text_field :body, class: "form-control" %>
  </div>

  <div class="field form-group form-date-select">
    <%= f.label :from_date %>
    <%= f.datetime_select :from_date, class: "form-control" %>
  </div>

  <div class="field form-group form-date-select">
    <%= f.label :to_date %>
    <%= f.datetime_select :to_date, class: "form-control" %>
  </div>

  <!-- <div class="field"> -->
    <%#= f.label :acceptable_type %>
    <%#= f.text_field :acceptable_type %>
  <!-- </div> -->
  <% if current_employee.employee? || current_employee.team_leader? || current_employee.team_manager? %>
    <div class="field form-group">
      <%= f.label :assigned_to %>
      
      <%= f.select :assigned_to, @team_members.collect {|s| [ s.name, s.id ] } , {}, class: "form-control" %>
    </div>
  <% elsif  current_employee.hr? %>
    <%= f.hidden_field :assigned_to, value: @assigned_to %>
  <%end%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
