<%= form_for(leafe) do |f| %>
  <% if leafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leafe.errors.count, "error") %> prohibited this leafe from being saved:</h2>

      <ul>
      <% leafe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :subject %>
    <%= f.text_field :subject, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :body %>
    <%= f.text_field :body, class: "form-control" %>
  </div>

  <div class="field form-group form-date-select">
    <%= f.label :from_date %>
    <%= f.datetime_select :from_date, class: "form-control" %>
  </div>

  <div class="field form-group form-date-select">
    <%= f.label :to_date %>
    <%= f.datetime_select :to_date, class: "form-control" %>
  </div>

  <!-- <div class="field"> -->
    <%#= f.label :acceptable_type %>
    <%#= f.text_field :acceptable_type %>
  <!-- </div> -->

  <div class="field form-group">
    <%= f.label :acceptable_id %>
    <%= f.hidden_field :acceptable_type, value: current_employee.user_role.caplitalize %>
    <%= f.select :acceptable_id, Employee.send(current_employee.user_role+"s").collect {|s| [ s.name, s.id ] } , {}, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
