<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @leave.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @leave.body %>
</p>

<p>
  <strong>From date:</strong>
  <%= @leave.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @leave.to_date %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @leave.assigned_to %>
</p>

<%= link_to 'Edit', edit_leafe_path(@leave) %> |
<%= link_to 'Back', leaves_path %>

<div class="container">
  <div class="row bs-wizard" style="border-bottom:0;">
    <h4>Leave Status</h4>
    <% progress = employee_status(@leave) %>
    <% progress_class=progress_class(progress, 1)%>
    <div class="col-xs-2 bs-wizard-step <%=progress_class%> ">
      <div class="text-center bs-wizard-stepnum">Step 1</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">Approved By correge.</div>
    </div>
    <% progress_class=progress_class(progress, 2)%>
    <div class="col-xs-2 bs-wizard-step <%=progress_class%>"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">Step 2</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">Approved By Team Lead</div>
    </div>
    <% progress_class=progress_class(progress, 3)%>
    <div class="col-xs-2 bs-wizard-step <%=progress_class%>"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">Step 3</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">Approve By Team Manager</div>
    </div>
    <% progress_class=progress_class(progress, 4)%>
    <div class="col-xs-2 bs-wizard-step <%=progress_class%>"><!-- active -->
      <div class="text-center bs-wizard-stepnum">Step 4</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center"> Approve By HR</div>
    </div>
    <% progress_class=progress_class(progress, 5)%>
    <div class="col-xs-2 bs-wizard-step <%=progress_class%>"><!-- active -->
      <div class="text-center bs-wizard-stepnum">Step 4</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center"> Approve By President</div>
    </div>
  </div>
</div>
