<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @leafe.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @leafe.body %>
</p>

<p>
  <strong>From date:</strong>
  <%= @leafe.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @leafe.to_date %>
</p>

<p>
  <strong>Acceptable type:</strong>
  <%= @leafe.acceptable_type %>
</p>

<p>
  <strong>Acceptable:</strong>
  <%= @leafe.acceptable_id %>
</p>

<%= link_to 'Edit', edit_leafe_path(@leafe) %> |
<%= link_to 'Back', leaves_path %>
