<div class="row clearfix">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h2>Projects</h2>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped dataTable js-exportable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Assigned to</th>
                <th>Client</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @projects.each do |project| %>
                <tr>
                  <td><%= project.name %></td>
                  <td><%= project.assigned_to %></td>
                  <td><%= project.client %></td>
                  <td><%= link_to 'Show', project %></td>
                  <td><%= link_to 'Edit', edit_project_path(project) %></td>
                  <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>
          <%= link_to 'New Project', new_project_path %>
        </div>
      </div>
    </div>
  </div>
</div>