<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header pad-bot-40">
        <div class="col-sm-9">
          <h2>
            Performance Review Requests
          </h2>
        </div>
        <div class="col-sm-3" style="margin-top: -8px;">
          <%= link_to('/perf_review_requests/report_all', :class => "btn btn-success") do %>
            Master Report 
            <i class="fa fa-download mar-left-5"></i>
          <% end %>
        </div>
      </div>
      <div class="body table-responsive"> 
        <%@perf_review_requests.each do |perf_review_request|%>
          <div class="card-child">
            <div class="col-sm-9 col-xs-9">
              <%= link_to('/perf_review_requests/'+String(perf_review_request.id)+'/edit', :class => "btn btn-primary mat-top-10") do %>
                Edit 
                <i class="fa fa-pencil mar-left-5"></i>
              <% end %>
              <%= link_to('/perf_review_requests/'+String(perf_review_request.id)+'/report', :class => "btn btn-success mat-top-10") do %>
                Report 
                <i class="fa fa-download mar-left-5"></i>
              <% end %>
            </div>
            <div class="col-sm-3 col-xs-3 mat-top-10">
              <%if perf_review_request.due_date.present? && perf_review_request.due_date > Time.now%>
                <b><%= distance_of_time_in_words(Time.now, perf_review_request.due_date) %></b> to expire
              <%else%>
                <b>Expired</b>
              <%end%>  
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Request Id</th>
                  <th>Reviewee</th>
                  <th>Due Date</th>
                  <th>Created By</th>
                  <th>Total Avg</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%=perf_review_request.id%></td>
                  <td><%=perf_review_request.reviewee.name%></td>
                  <td><%=perf_review_request.due_date.strftime("%d %b %Y") rescue nil%></td>
                  <td><%=perf_review_request.employee.name%></td>
                  <td><%=perf_review_request.avg_on_category%></td>
                </tr>
              </tbody>
            </table>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Reviewer</th>
                  <th>Review Date</th>
                  <th>Avg Review</th>
                </tr>
              </thead>
              <tbody>
                <%perf_review_request.reviewers.each do |reviewer|%>
                  <tr>
                    <td><%=reviewer.employee.name%></td>
                    <td><%=perf_review_request.reviews(reviewer)[:review_date]%></td>
                    <td><%=perf_review_request.reviews(reviewer)[:review_avg]%></td>
                  </tr>
                <%end%>
              </tbody>
            </table>
          </div>  
        <%end%>  
        <%= will_paginate @perf_review_requests, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>