<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="body">
      	<h4>
      		Perf Review Report - Review Requests
      	</h4>
      	<br>
      	<%@perf_review_requests.each do |perf_review_request|%>
	      	<div style="border-bottom: 2px solid #ccc;margin-bottom: 20px;">
	          <table class="table table-striped table-inverse" width="650">
	            <thead>
	              <tr style="background-color: #ccc">
	                <th>Request Id</th>
	                <th>Reviewee</th>
	                <th>Due Date</th>
	                <th>Total Avg</th>
	              </tr>
	            </thead>
	            <tbody>
	              <tr>
	                <td align="center"><%=perf_review_request.id%></td>
	                <td align="center"><%=perf_review_request.reviewee.name%></td>
	                <td align="center"><%=perf_review_request.due_date.strftime("%d %b %Y") rescue nil%></td>
	                <td align="center"><%=perf_review_request.master_request_avg%></q></td>
	              </tr>
	            </tbody>
	          </table>
	          <br>
	          <table class="table table-striped table-inverse" width="650">
	            <thead>
	              <tr style="background-color: #ccc">
	              	<th>Reviewer</th>
	                <th>Review Date</th>
	                <th>Avg Review</th>
	              </tr>
	            </thead>
	            <tbody>
	              <%perf_review_request.reviewers.each do |reviewer|%>
                  <tr>
                    <td align="center"><%=reviewer.employee.name%></td>
                    <td align="center"><%=perf_review_request.reviews(reviewer)[:review_date]%></td>
                    <td align="center"><%=perf_review_request.reviews(reviewer)[:review_avg]%></td>
                  </tr>
                <%end%>
	            </tbody>
	          </table>
	        </div>
	        <hr /> 
	        <br>
	    <%end%>     
       </div>
    </div>
  </div>
</div>