<%= form_for subject, html: {remote: true} do |f| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm-6 col-xs-12">
    <div class="form-group form-float">
      <div class="form-line">
        <%= f.text_field :title, class: "form-control" %>
        <%= f.label :title, class: "form-label" %>
      </div>
    </div>

  </div>
  <div class="col-sm-6 col-xs-12">
    <div class="actions">
      <%= f.submit "Add Subject", class: "btn btn-primary waves-effect" %>
    </div>
  </div>
<% end %>
