<table style="width:60%;border: 1px;">
	<tr><td><b>Shared By</b></td><td><%=@participant.name%></td></tr>
	<tr><td><b>Exam Name</b></td><td><%=@result.exam.title%></td></tr>
	<tr><td><b>Started At</b></td><td><%=@result.started_at%></td></tr>
	<tr><td><b>Completed At</b></td><td><%=@result.completed_at%></td></tr>
	<tr><td><b>Obtained Marks</b></td><td><%=@result.obtained_marks%></td></tr>
	<tr><td><b>Correct Answer</b></td><td><%=@result.correct_ans%></td></tr>
	<tr><td><b>Incorrect Answer</b></td><td><%=@result.incorrect_ans%></td></tr>
</table>