<div class="card">
  <div class="header">
    <h2 style="text-align: center;"><%= perf_review_catg.name %></h2>
    <% if perf_review_catg.questions.present? %>
      <div class="body table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Question Name</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% perf_review_catg.questions.each do |question| %>
              <tr>
                <td>
                  <%= question.name %>
                </td>
                <td>
                  <!-- <%= link_to "Edit", edit_review_catg_quest_path(question) %> | -->
                  <%= link_to "Destroy", review_catg_quest_path(question), method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p> No questions available </p>
    <% end %>
    <div class="body">
      <div id="add-catg-question-form">
        <%= render 'review_catg_quests/form', review_catg_quest: @review_catg_quest, perf_review_catg: perf_review_catg %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

  <td><%= link_to 'Show', perf_review_catg %></td>
  <td><%= link_to 'Edit', edit_perf_review_catg_path(perf_review_catg) %></td>
  <td><%= link_to 'Destroy', perf_review_catg, method: :delete, data: { confirm: 'Are you sure?' } %></td>

