<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @perf_review_catg.name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @perf_review_catg.employee_id %>
</p>

<%= link_to 'Edit', edit_perf_review_catg_path(@perf_review_catg) %> |
<%= link_to 'Back', perf_review_catgs_path %>
