
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4><%=@leave.subject%></h4>
    <p>
     <%=@employee.first_name%> <%=@employee.last_name%> Needs Leave from Date : <%=@leave.from_date.to_date%> to <%=@leave.to_date.to_date%>

     <%= @leave.body %>	
    </p>
    <p>And his/her work is assign to <%=@as_emp.first_name%> <%=@as_emp.last_name%> .</p>
    <h4>Thank you</h4>
  	
  </body>
</html>