<header id="header">
  <div id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="brand put-left">
            <h1>
            <a href="index.html">
              <%= image_tag "logo_1.png" %>
            </a>
            </h1>
          </div>
          <nav class="nav put-right">
            <ul class="sf-menu">
              <li class="<%= 'current' if params[:action] == 'index' && params[:controller] == 'home' %>"><%= link_to "Home", root_path %></li>
              <li class="<%= 'current' if params[:action] == 'about' %>">
                <%= link_to "About Us", home_about_path %>
              </li>
              <li class="<%= 'current' if params[:action] == 'contact' %>"><%= link_to "Contact Us", home_contact_path %></li>
              <li><%= link_to "Join Us", new_employee_registration_path %></li> 
              <li><%= link_to "Already a member", new_employee_session_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>