<!DOCTYPE html>
<html>
  <head>
    <title>Examination</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body <%= yield(:body_attributes) %> class="theme-cyan">
    <%= render partial: "layouts/header" %>
    <%= render partial: "layouts/sidebar" %>
    <section class="content">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </section>
    <div class="b_message" style="display: none;">
      <div class="b_msg_head">
        Broadcast message.
      </div>
      <div class="b_msg_body">
      </div>
    </div>
    <script type="text/javascript">
      $(document).on("click", function(){
        $(".dropdown-animating.open").removeClass('open');
      });
    </script>
  </body>
</html>
